

#containerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  width: 100%;
  padding: 10px;
  background-color: rgb(16, 32, 29);
  padding-top: 10rem;
}

