
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Goldman:wght@400;700&family=Play:wght@400;700&family=Righteous&family=Russo+One&family=Stack+Sans+Text:wght@200..700&display=swap');




.welcomeHome {
  color: aliceblue;
  font-size: 1.5rem;
}

.textHome {
  color: aliceblue;
  font-size: 1.2rem;
}