
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Goldman:wght@400;700&family=Play:wght@400;700&family=Righteous&family=Russo+One&family=Stack+Sans+Text:wght@200..700&display=swap');

#containerHeader {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgb(26, 30, 53);
}

.containerTitleIcon {
  display: flex;
  align-items: center;
  height: 100%;
  width: 200px;
}

#icon {
  height: 50px;
  width: 50px;
}