
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Goldman:wght@400;700&family=Play:wght@400;700&family=Righteous&family=Russo+One&family=Stack+Sans+Text:wght@200..700&display=swap');

#containerHeader {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  height: 130px;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgb(21, 21, 44);
  box-shadow: 0 4px 10px -2px black;
  padding: 5px;
  padding-top: 10px;
}

.containerTitleIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#icon {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}
#tittle{
  color: aliceblue;
  font-size: 2rem;
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.containerNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%; 
  width: 100%;
}
.textNavigation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: aliceblue;
  font-size: 1rem;
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;

  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: all 0.4s; 
}
.textNavigation:hover {
  border-bottom: 1px solid rgb(0, 255, 195);
  color: rgb(0, 255, 195);
}