
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Goldman:wght@400;700&family=Play:wght@400;700&family=Righteous&family=Russo+One&family=Stack+Sans+Text:wght@200..700&display=swap');

#containerIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 30px;
}

.subtittleSolarSystem {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  color: aliceblue;
  font-size: 1.3rem;
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.txtSolarSystem {
  color: aliceblue;
  font-size: 0.9rem;
}