
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#containerContent {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: rgb(15, 15, 32);
  padding-top: 10rem;
  gap: 20px;
}